<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="format-detection" content="telephone=notelphone=no, email=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">

    <!-- 站点图标 -->
    <link type="image/x-icon" rel="shortcut icon" href="https://ytsimg.gitee.io/blog/favicon/favicon.ico" />

    <title>JSBlog 博客首页</title>
    <meta name="keywords" content="js, blog, yellowtulipshow, github, gitee" />
    <meta name="description" content="JSBlog 脚本博客, 遍历展现开源项目所有文件, 源代码 + 图片" />

    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 设置苹果工具栏颜色:默认值为 default，可以定为 black和 black-translucent-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 不让百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/base.css"> -->
    <link rel="stylesheet" type="text/css" href="./assets/css/page.css">

    <link rel="stylesheet" type="text/css" href="./assets/package/marked/style.css">
    <script type="text/javascript" src="./assets/package/marked/marked.min.js"></script>

    <script type="text/javascript" src="./assets/package/jquery/jquery-3.4.1.js"></script>
    <!-- <script type="text/javascript" src="./assets/package/jquery/jquery-3.4.1.min.js"></script> -->
    <script type="text/javascript" src="./assets/package/vue/vue.v2.6.10.min.js"></script>

    <script type="text/javascript" src="./assets/js/url_parameter.js"></script>
    <script type="text/javascript" src="./assets/js/base.js"></script>
    <script type="text/javascript" src="./assets/js/base64.js"></script>
    <script type="text/javascript" src="./assets/js/inherit.js"></script>
    <script type="text/javascript" src="./assets/js/dbStore.js"></script>
    <script type="text/javascript" src="./assets/js/web_request.js"></script>
    <script type="text/javascript" src="./assets/js/api.js"></script>
    <script type="text/javascript" src="./assets/js/blog.js"></script>
</head>
<body class="body">
    <div id="IDMenu" class="Menu" v-bind:class="{ Show: isShow }">
        <div class="Button">
            <button v-on:click="isShow = !isShow">{{isShow ? "关闭" : "打开"}}菜单</button>
        </div>
        <ol>
            <li class="li" v-for="m in models">
                {{m.type}} | {{m.name}} | {{m.path}}
                <button v-if="/.+\.md$/g.test(m.name) && m.type == 'file'" v-on:click="acticle_show(m.path)">展示文本</button>
            </li>
        </ol>
    </div>
    <div id="IDMarkdownBody" class="container-lg px-3 my-5 markdown-body">
    </div>
    <div id="IDPhotoAlbum" class="PhotoAlbum">
        <img class="img" v-bind:src="show_content(m)" v-for="m in models" />
    </div>

<!-- ========================================脚本分割线======================================== -->

<script type="text/javascript">
    /*
        testURL:
        ?platform=GitHub&owner=YellowTulipShow&repo=JSBlog&path=.idea/log.md
    */
    var urlpar = new UrlParameter();
    var page_args = {
        platform: urlpar.get("platform") || "GitHub",
        owner: urlpar.get("owner") || "YellowTulipShow",
        repo: urlpar.get("repo") || "JSBlog",
        path: urlpar.get("path") || ".idea/log.md",
    };

    // window.open("file:///D:/Work/YTS.ZRQ/JSBlog/acticle.html?" + urlpar.serialize(page_args));
</script>
<script type="text/javascript">
    (function() {
        var menu = new Vue({
            el: "#IDMenu",
            data: {
                isShow: false,
                models: [],
            },
            methods: {
                acticle_show: function(path) {
                    show_acticle_content(path);
                    this.isShow = false;
                },
            }
        });

        var album = new Vue({
            el: "#IDPhotoAlbum",
            data: {
                models: [],
            },
            methods: {
                show_content: function(model) {
                    var content = model.content.replace(/\n/g,"");
                    return "data:image/png;base64," + content;
                }
            }
        });

        var blog = null;
        $(document).ready(function() {
            _init_();
        });

        function _init_() {
            blog = new Blog({
                platform: page_args.platform,
                owner: page_args.owner,
                repo: page_args.repo,
                isSave: true,
                dbOpenError: function() {
                    console.log("启用数据库失败!");
                },
                dbOpenSuccess: function() {
                    _success_callback_(page_args.path);
                },
            });
        }

        function _success_callback_() {
            show_acticle_content(page_args.path);
            blog.TraverseRepoPaths(function(path, model) {
                if (model == null) {
                    console.log("path:{0}, model 为空!".format(path));
                    return;
                }
                var m = $.extend({}, model);
                console.log("path:{0} | {1} | {2}".format(path, m.path, path == m.path));
                menu.models.push(m);
                if (/.+\.(jpg|png|gif)$/gi.test(m.name) && m.type == 'file') {
                    album.models.push(m);
                }
            });
        }

        function show_acticle_content(path) {
            read_acticle(path, function(model) {
                var content = Object.get(model, "content", "");
                var encoding = Object.get(model, "encoding", "text");

                var value = blog.toNormalText(content, encoding);
                var md = marked(value);
                $("#IDMarkdownBody").html(md);
            });
        }

        function read_acticle(path, callback) {
            callback = callback || function(model) {}
            if (path == null || path == "") {
                return;
            }
            blog.RequestRepoContent(function(model) {
                if (model == null) {
                    console.log("文件路径读取为空:", path);
                    return;
                }
                callback(model)
            }, path);
        }
    })();
</script>

<!-- ========================================脚本分割线======================================== -->

</body>
</html>
