.Menu {
    display: block;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: -35%;
    bottom: 0;
    z-index: 5;
    padding: .9em;
    background-color: #fff;
    width: 35%;

    -moz-box-shadow: 0 0 4px #888;
    box-shadow: 0 0 4px #888;

    -webkit-transition: right .5s;
    -moz-transition: right .5s;
    -o-transition: right .5s;
    transition: right .5s;
}
    .Menu.Show {
        right: 0;
    }
    .Menu .Button {
        display: block;
        overflow: hidden;
        position: fixed;
        top: .3em;
        right: .3em;

        -moz-box-shadow: 0 0 4px #888;
        box-shadow: 0 0 4px #888;

        -webkit-transition: right .5s;
        -moz-transition: right .5s;
        -o-transition: right .5s;
        transition: right .5s;
    }
    .Menu.Show .Button {
        right: calc(35% + .3em);
    }
    .Menu button {
        margin: 0;
        padding: 0;
        border: none;
        outline: 0;
        background-color: red;
    }

    .Menu li,
    .Menu ol,
    .Menu ul {
        list-style: none;
        white-space: nowrap;
    }

.PhotoAlbum {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 1em;
}
    .PhotoAlbum .item {
        display: block;
        overflow: hidden;
        position: relative;
        float: left;
        width: auto;
        height: 10em;

        margin-top: 1em;
        margin-left: 1em;

        -webkit-box-shadow: 0px 0px 4px #000, 0 0 2px #bab8b8 inset;
        -moz-box-shadow: 0px 0px 4px #000, 0 0 2px #bab8b8 inset;
        -ms-box-shadow: 0px 0px 4px #000, 0 0 2px #bab8b8 inset;
        -o-box-shadow: 0px 0px 4px #000, 0 0 2px #bab8b8 inset;
        box-shadow: 0px 0px 4px #000, 0 0 2px #bab8b8 inset;
    }
        .PhotoAlbum .item .img {
            display: block;
            overflow: hidden;
            position: relative;
            width: auto;
            height: 100%;
        }
